@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url("../Fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../Fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("../Fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: normal;
  src: url("../Fonts/Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: bold;
  src: url("../Fonts/Montserrat/Montserrat-Bold.ttf");
}
